.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: black;


}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: rgba(239,226,205,1);
  background: -moz-linear-gradient(-45deg, rgba(239,226,205,1) 0%, rgba(239,226,205,1) 3%, rgba(184,156,111,1) 39%, rgba(199,162,108,1) 69%, rgba(228,212,185,1) 94%, rgba(228,212,185,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(239,226,205,1) 0%, rgba(239,226,205,1) 3%, rgba(184,156,111,1) 39%, rgba(199,162,108,1) 69%, rgba(228,212,185,1) 94%, rgba(228,212,185,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(239,226,205,1) 0%, rgba(239,226,205,1) 3%, rgba(184,156,111,1) 39%, rgba(199,162,108,1) 69%, rgba(228,212,185,1) 94%, rgba(228,212,185,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(239,226,205,1) 0%, rgba(239,226,205,1) 3%, rgba(184,156,111,1) 39%, rgba(199,162,108,1) 69%, rgba(228,212,185,1) 94%, rgba(228,212,185,1) 100%);
  background: linear-gradient(135deg, rgba(239,226,205,1) 0%, rgba(239,226,205,1) 3%, rgba(184,156,111,1) 39%, rgba(199,162,108,1) 69%, rgba(228,212,185,1) 94%, rgba(228,212,185,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efe2cd', endColorstr='#e4d4b9', GradientType=1 );
  /*min-height: 100vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-right: 15px;
  padding-left: 15px;
}
.App-Nav{
  background-color: #562300;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

{
  padding-bottom: 100px;
}